.encabezado{
    background:#e9ecef;
    border-radius: 30px;
    margin: 20px;
    text-align: center;
    padding: 10px;
}
.nuevo{
    text-align: end;
    margin: 10px;
}
.boton-guardar{
    margin: 30px;
}